absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
chex==0.1.87
colorama==0.4.6
datasets==3.1.0
dill==0.3.8
distlib==0.3.8
Django==5.0.7
etils==1.10.0
filelock==3.15.4
flask-cors==6.0.1
flax==0.10.2
frozenlist==1.5.0
fsspec==2024.9.0
huggingface-hub==0.26.2
humanize==4.11.0
idna==3.10
importlib_resources==6.4.5
jax==0.4.35
jaxlib==0.4.35
jiter==0.10.0
jsonpointer==2.1
lxml==5.2.1
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
mkl-service==2.5.2
ml_dtypes==0.5.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
nest-asyncio==1.6.0
openai==1.93.0
opencv-python==4.10.0.84
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.9.1
packaging==24.2
pandas==2.2.3
pillow==11.0.0
platformdirs==4.2.2
propcache==0.2.0
protobuf==5.28.3
pyarrow==18.0.0
pyasn1-modules==0.2.8
PyAudio==0.2.14
Pygments==2.18.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==305.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
safetensors==0.4.5
scipy==1.14.1
setuptools==75.6.0
six==1.16.0
SpeechRecognition==3.12.0
sqlparse==0.5.1
tensorstore==0.1.68
tesseract==0.1.3
tokenizers==0.20.3
toolz==1.0.0
tqdm==4.67.0
transformers==4.46.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
wheel==0.44.0
xxhash==3.5.0
yarl==1.18.0
zipp==3.21.0
